The IcRepDaemon.config file contains the parameters for configuring the Business Process Engine Daemons. The following listing is a sample IcRepDaemon.config file.

#  IcRepDaemon.config
#  SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE SAMPLE
#  This file must be edited and the various sections uncommented as 
#  needed. Anything in <angle-brackets> should be replaced!
#  Section 1.  REPOSITORY SERVER CONFIGURATION
#  Recommended Items
#  SERVER-PATH
#  PORT
#  The SERVER-PATH should point to the IcRepServer executable, which 
#  usually resides in $IC_HOME/bin.  Defaults to 
#  $IC_HOME/bin/IcRepServer.
#  The PORT line should specify the TCP port number associated with #  the repository in the database, as specified in the second half #  of the repository 'LOCATION' property.  This item, or the -port #  command line switch, must be specified.
SERVER-PATH=/work1/test/bpe/bin/IcRepServer
PORT=9010
#  Optional Items
#  USER-ID
#  The USER-ID line specifies what user IcRepDaemon runs as.  If it 
#  is not running as this user or cannot change to this user, 
#  IcRepDaemon will exit.
USER-ID=inst
#  LOG-FILE
#  The LOG-FILE entry can be set to a file or the keyword 'SYSLOG'.
#  If 'SYSLOG' is used, then accesses are logged using the syslog #  systemlogging facility.  Note that log records of varying 
#  priority are generated, with different verbosity.  If a file is 
#  used, the LOG-LEVEL configuration entry controls how much is 
#  logged.  If SYSLOG is used, then syslog's standard configuration #  file (usually /etc/syslog.conf) is used to control how records 
#  are processed.
#  Uncomment only one in each group
LOG-FILE=/work1/test/logs/repserver.log
#LOG-FILE=SYSLOG
#LOG-LEVEL=warng
#LOG-LEVEL=emerg
#LOG-LEVEL=alert
#LOG-LEVEL=critc
#LOG-LEVEL=error
#LOG-LEVEL=warng
#LOG-LEVEL=note
#LOG-LEVEL=info
#LOG-LEVEL=debug
#  Section 2.  REPOSITORY ACCESS PERMISSIONS
#  Optional Repeating Items
#  VALID-DIR
